<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
	<typeAliases>
		<typeAlias type="pop.bean.TripPopReviewDTO" alias="popReview"/>
		<typeAlias type="pop.bean.TripPopLocationDTO" alias="popLocation"/>
		
		<typeAlias type="area.bean.ImgDTO" alias="img"/>
		<typeAlias type="area.bean.TripPopDTO" alias="tripPop"/>
		<typeAlias type="area.bean.TripPopMapDTO" alias="tripPopMap"/>


 		<typeAlias type="user.bean.UserDTO" alias="user"/>
		<typeAlias type="user.bean.ZipcodeDTO" alias="zipcode"/>		
		<typeAlias type="user.bean.UserImageDTO" alias="userImg"/>		
		

		<typeAlias type="area.bean.PopMainDTO" alias="popMain"/>

	</typeAliases>
</configuration>