<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="areaSQL">
	<insert id="imgWrite" parameterType="img">
		insert into img values(img_seq.nextval, #{img_name}, #{img_path}, nadri_seq.currval)
	</insert>
	
	<insert id="nadriWrite">
		insert into nadri values(nadri_seq.nextval, 3, pop_seq.nextval)
	</insert>
	
	<insert id="popWrite" parameterType="tripPop">
		insert into tripPop values(pop_seq.currval, #{pop_name}, #{pop_businessTime}, #{pop_tourismTime}, #{pop_call}, nadri_seq.currval)
	</insert>
	
	<insert id="popMap" parameterType="tripPopMap">
		insert into tripPopMap values(pop_seq.currval, #{map_x}, #{map_y})
	</insert>
	
	<select id="printPopMain" parameterType="int" resultType="popMain">
		select * from trippop
				 join (select img_name, img_path, nadri_seq from img
							                                join nadri using(nadri_seq)
							                                where img_seq in (select min(img_seq) as img_seq
							                                                  from img
							                                                  join nadri using(nadri_seq)
							                                                  where content_seq = #{content}
							                                                  group by nadri_seq)) 
							                                using (nadri_seq)
	</select>
</mapper>