<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="areaSQL">
	<insert id="imgWrite" parameterType="img">
		insert into img values(img_seq.nextval, #{img_name}, #{img_path}, #{content_seq}, pop_seq.currval, #{main_seq})
	</insert>
	
	<insert id="popWrite" parameterType="tripPop">
		insert into tripPop values(pop_seq.nextval, #{pop_name}, #{pop_businessTime}, #{pop_tourismTime}, #{pop_call}, #{main_seq})
	</insert>
	
	<insert id="popMap" parameterType="tripPopMap">
		insert into tripPopMap values(pop_seq.currval, #{address_name}, #{map_x}, #{map_y})
	</insert>
	
	<select id="printPopMain" resultType="popMain">
		select pop_seq, pop_name, pop_businesstime, pop_tourismtime, pop_call, main_seq, img_name, img_path
		from trippop
		join (select img_name, img_path, seq
      	from img 
      	where content_seq = 3 and main_seq = #{main_seq} and img_seq in (select min(img_seq) 
                                                          				 from img
                                                          				 group by content_seq, seq, main_seq))i on(trippop.pop_seq = i.seq)
	</select>
</mapper>