<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="popSQL">
	<!-- <insert id="imgWrite" parameterType="img">
		insert into img values(img_seq.nextval, #{img_name}, #{img_path}, nadri_seq.nextval)
	</insert>
	
	<insert id="nadriWrite" parameterType="int">
		insert into nadri values(nadri_seq.nextval, 2, #{seq})
	</insert>
	
	<insert id="popWrite" parameterType="tripPop">
		insert into tripPop values(pop_seq.nextval, #{pop_name}, #{pop_businessTime}, #{pop_tourismTime}, #{pop_call}, nadri_seq.currval)
	</insert>
	
	<insert id="popMap" parameterType="tripPopMap">
		insert into tripPopMap values(pop_seq.currval, #{map_x}, #{map_y})
	</insert> -->
</mapper>