<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="userSQL">
 
 	<select id="login" parameterType="java.util.Map" resultType="user">
		select * from usertable where id=#{id} and pwd=#{pwd}
	</select>
 
 	<insert id="write" parameterType="user">
		insert into usertable values(#{name}, #{id}, #{pwd}, #{gender}
								,#{email1}, #{email2}
								,#{tel1}, #{tel2}, #{tel3}
								,#{zipcode}, #{addr1}, #{addr2} ,sysdate) 	
	</insert>
 	
 	<select id="checkId" parameterType="String" resultType="user">
 		select * from usertable where id=#{id}
 	</select>
 	
 	<select id="checkPostSearch" parameterType="java.util.Map" resultType="zipcode">
		select * from newzipcode 
		where sido like '%'||#{sido}||'%'
		and nvl(sigungu,'0') like '%'||#{sigungu}||'%'
		and roadname like '%'||#{roadname}||'%'
		<!-- %#은 붙으면 안되므로 ||로 떼어놓는다 
		nvl null값일경우 치환해주는 함수 실제 들어가는게 아님-->
	</select>
 	
 	<select id="getUser" parameterType="String" resultType="user">
 		select * from usertable where id=#{id}
 	</select>
 	
 	<update id="modify" parameterType="user">
 		update usertable set name=#{name}, pwd=#{pwd}, email1=#{email1}, email2=#{email2}
								,tel1=#{tel1}, tel2=#{tel2}, tel3=#{tel3}
								,zipcode=#{zipcode}, addr1=#{addr1}, addr2=#{addr2} where id=#{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		delete usertable where id=#{id}
 	</delete>
 	
 </mapper>
 
 